
@{
    ViewBag.Title = "customersofgermany";
}

<h2>customersofgermany</h2>

@*@model List<YourProjectName.Models.Customer> // Replace YourProjectName with the actual namespace of your project

<h2>Germany Customers</h2>*@

<table>
    <tr>
        <th>Cust_ID</th>
        <th>Contact Name</th>
       
       
    </tr>
    @foreach (var customer in Model)
    {
<tr>
    <td>@customer.Cust_ID</td>
    <td>@customer.ContactName</td>
   
</tr>
    }
</table>


